<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Metadata for file you uploaded</h1>
    <h3>Metadata title: {{metadata.title}}</h3>
    <h3>Metadata artist: {{metadata.artist}}</h3>
    <h3>Metadata genre: {{metadata.genre}}</h3>
    <h3>Metadata size: {{metadata.size}} bytes</h3>
    <h3>Metadata length: {{metadata.length}} seconds</h3>
</body>
</html>